.container {
  /* Questo è lo stile di tutto ciò che sta dentro il div */
  margin: 20px;
}
#target {
  /* Questa, nello specifico, è la classe della scritta da rimuovere */
  padding: 10px;
  background-color: cyan;
  margin-bottom: 10px;
}
#button {
  /* Questo è lo stile del bottone */
  padding: 8px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
